<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL"></level>
      <appender-ref ref="AdoNetAppender"></appender-ref>
    </root>

    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection,System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <connectionStringName value="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Northwind;Integrated Security=true;" />
      <commandText value="INSERT INTO Logs ([Detail],[Data],[Audit],[Logger]) VALUES (@logDetail, @log_date, @audit,   
    @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="string" />
        <size value="4000"/>
        <layout type="KurumsalMimari.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level">
        </layout>
      </parameter>
    </appender>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.json" />
      <layout type="KurumsalMimari.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout">
      </layout>
    </appender>
    <logger name="DatabaseLogger">
      <level value="All"></level>
      <appender-ref ref="SqlServerAppender" />
    </logger>
    <logger name="JsonFileLogger">
      <level value="All"></level>
      <appender-ref ref="JsonFileAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>